*{
    margin: 0 ;
    padding :0 ;

}
nav{
    background : rgb(136, 169, 230);
    padding : 1rem;
}
.logo-container{
    display :flex;
    flex-shrink: 0;
    gap: 10px;

}
.logo {
    height: 10;
}
.login-btn {
    background-color: whitesmoke;
    color: rgb(35, 106, 212);
    border: 1px solid rgb(35, 106, 212);
    padding: 6px 16px;
    border-radius: 4px; 
    font-size: 14px;
    font-weight: bold;
    display:flex;
    align-items: center;  
    justify-content: center;
    cursor: pointer;

}
nav ul{
    list-style-type: none;
    margin:0 ;
    padding:0;
    display:flex;
    justify-content: space-around;
    flex-grow: 1; 
}
nav ul li a { 
    display:inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 2rem 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
a[href="pr.html"]:hover {
  color: rgb(26, 57, 236);
}
a[href="Home.html"]:hover {
  color: rgb(26, 57, 236);
}
a[href="Post.html"]:hover {
  color: rgb(26, 57, 236);
}
a[href="Profile.html"]:hover {
  color: rgb(26, 57, 236);
}
.prhighlight {
  color: rgb(26, 57, 236);
}

