body {
    background-image: url("building.jpg");
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}
